<link rel="stylesheet" href="{{ 'assets/navbar.css' | relative_url }}">
<nav class="site-nav">
  <div class="site-logo">
    <div class="site-logo-row">
      <a href="https://afrilangai.github.io"><img src="{{ '/assets/images/uglanglogo.jpeg' | relative_url }}" alt="Site Logo" /></a>
      <span class="site-logo-title">AfriLang AI 2025</span>
    </div>
    <span class="site-logo-subtitle">Bridging Low-Resource Gaps in African Languages</span>
  </div>
  <div class="site-nav-center">
    <ul class="site-nav-list">
      <li><a href="https://afrilangai.github.io#afrilang-ai-2025-accepted-papers" class="site-nav-link">Accepted Papers</a></li>
      <li><a href="schedule" class="site-nav-link">Schedule</a></li>
      <li><a href="sponsors" class="site-nav-link">Sponsors</a></li>
    </ul>
  </div>
  <div class="site-nav-actions">
    <!-- <button class="lang-btn">FR</button> -->
    <a href="https://github.com/afrilangai/afrilangai.github.io/raw/main/assets/Afri-lang%20Conference%202025_%20Travel%20Info-Pack.pdf" 
      class="btn btn-primary fs-5 mb-4 mb-md-0 mr-2">Travel info
    </a>
    <a href="https://us06web.zoom.us/meeting/register/gMPSig4wRdaWbCBVwgxdZg"
      class="btn btn-secondary fs-5 mb-4 mb-md-0"
      target="_blank" rel="noopener noreferrer">
      Zoom Registration
    </a>
  </div>
</nav>
<div class="navbar-spacer"></div> 
